@font-face {
    font-family: fredoka;
    src: url(IBMPlexMono-Bold.ttf);
}
@font-face {
    font-family: comfortaa;
    src: url(IBMPlexMono-Light.ttf);
}
@font-face {
    font-family: abril-fatface;
    src: url(IBMPlexMono-Light.ttf);
}
